html, body {
    height: 100%;
}

body {
    margin: 0;
}

.message {
    color: #000000 !important;
    font-weight: normal !important;
}

.error {
    color: #FF0000 !important;
    font-weight: bold;
}

.flex-container-hor {
  display: flex;
  flex-direction: row;
}

.left {
  width: 720px;
  display: flex;
  flex-direction: column
}

.right {
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  font-family: monospace;
}

#drawing {
  width: 500px;
  height: 500px;
  border: 1px dashed;
}

.editor-label {
  font-family: sans-serif;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  height: 4vh;
}

#lib-editor {
  height: 40vh;
  width: 100%;
}

.lib-editor .CodeMirror {
  border: 1px solid;
  height: 40vh;
  line-height: 1em;
  font-family: monospace;

  /* Necessary so the scrollbar can be absolutely positioned within the wrapper on Lion. */
  position: relative;
  /* This prevents unwanted scrollbars from showing up on the body and wrapper in IE. */
  overflow: hidden;
}

.footnote {
  margin-top: auto;
  font-size: 10px;
}
